.add-files-btn {
  float: right;
}

:host {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.actions {
  justify-content: flex-end;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-toolbar {
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  background-color: white;
}

mat-dialog-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.files-column {
  flex: 0 1 63%;
  border-right: 3px solid #f6f0ff;
  margin-right: 8px;
}

.assigned-column {
  flex: 0 1 37%;
}

mat-progress-spinner {
  margin: -15px 15px 0 -10px
}

.add-files-btn {
  margin-left: 8px;
}
