<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-chip-list #chipList>
        <mat-chip
            *ngFor="let u of assignedUsers"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(u)">
            {{u.firstname}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
    
    <input
      type="text"
      #userInput
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [formControl]="userControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      >
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let user of users$ | async" [value]="user">
        {{ user.firstname }}
        {{ user.lastname }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
